*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.naslovnicaImg{
    background-image: url(/img/naslovnica.jpg);
    width: 100%;
    height: 100vh;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    position: relative;
    left: 60%;
    transform: scale(0.3);
}
.nav{
    right: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    z-index: 2;
    color: #9baf6d;
}
.navLabel{
    font-size: 3rem;
    margin-top: 3rem;
    margin-right: 30px;
}
.next1{
    background-color:#212121;
    background-image: url(/img/angle.png);
    background-repeat: no-repeat;
    background-position: right; 
    height: 50vh;
}
.text1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: left;
    justify-content: center;
    padding: 10%;
    color: #c4c4c4;
}
.naslov1{
    margin-bottom: 10px;
    color: #afc67b;
}
.next2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    padding: 10%;
    background: #45493b;
    color: #e8e8e8;
}
.text2{
    padding: 20px;
    margin: 20px;
}
h3{
    margin: 0px 0px 25px 0px;
}
.gridContainer{
    display: block;
    text-align: center;
    align-items: center;
    width: 100vw;
}
.grid{
    display: grid;
    grid-template-areas: "title title title title"
                         "slika1 text1 slika2 text2"
                         "slika3 text3 slika4 text4"
                         "slika5 text5 slika6 text7";
    grid-template-rows: 160px 250px 250px 250px;
    grid-template-columns: 250px 250px 250px 250px;
    margin: auto; 
                    
}
.gridTitle{
    grid-area: title;
    text-align: center;
    background-color: #afc67b;
}
.gridText{
    background-color: #afc67b;
}
.gridSlika1{
    background-image: url(/img/1.jpg);
    background-size: cover;
}
.gridSlika2{
    background-image: url(/img/2.jpg);
    background-size: cover;
}
.gridSlika3{
    background-image: url(/img/3.jpg);
    background-size: cover;
}
.gridSlika4{
    background-image: url(/img/4.jpg);
    background-size: cover;
}
.gridSlika5{
    background-image: url(/img/5.jpg);
    background-size: cover;
}
.gridSlika6{
    background-image: url(/img/6.jpg);
    background-size: cover;
}
