*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family:candara;
}

.hero{
    background-image: url(img/hero_crop-min.jpg);
    width: 100%;
    height: 100vh;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top:40px;
}

.logo-and-title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    border: 5px solid transparent;
    background: rgba(0,0,0,0);
    transition:left 1s, border 1s, background 1s;
}

.title{
    color: #C7AE58;
    font-size:50px;
    margin-top:35px;
    font-weight: 300;
    width:100%;
    padding: 0 20px 0 20px;
    text-align: center;
    opacity:0;
    transition:opacity 1s 1s;
}

#logo{
    opacity:0;
    transition: opacity 1s 0.5s;
    max-width:250px;
}

#hamburger{
    display:none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:relative;
    height:60px;
    width:70px;
    background:rgba(0,0,0,0.5);
    border:1px solid #C7AE58;
    margin: 0 auto;
}

.hamburger-line{
    height:3px;
    width:55%;
    background:#C7AE58;
    transition:0.3s;
    position:absolute;
}

#hamburgerLine1{
  top:16px;
  transform:translate(0, 0);
}

#hamburgerLine2{
  top:50%;
  transform:translate(0, -50%);
}

#hamburgerLine3{
  top:40px;
  transform:translate(0, 0);
}

.hamburger:hover{
  justify-content:center;
}

/* .hamburger:hover #hamburgerLine1{
  top:50%;
  transform:translate(0, -50%) rotate(45deg);
}

.hamburger:hover #hamburgerLine2{
  opacity:0;
}

.hamburger:hover #hamburgerLine3{
  top:50%;
  transform:translate(0, -50%) rotate(-45deg);
} */

#navId{
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    max-width:730px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    color: #C7AE58;
    position:relative;
    margin-right:-100%;
    transition:margin-right 2s;
    margin-top:-40px;
}

.nav-list::before{
    content:'';
    height:1px;
    width:100%;
    background:#C7AE58;
    position:absolute;
    top:100%;
    left:0;
}

.list-item{
    font-size: 24px;
    margin-top: 3rem;
    margin-right: 30px;
}

.nav-item-a{
    color:#C7AE58;
    text-decoration:none;
    transition:0.15s;
}

.nav-item-a:hover{
    color:#DDC87B;
}

.next1{
    background-color:#212121;
    background-image: url(/img/angle.png);
    background-repeat: no-repeat;
    background-position: right; 
    height: 50vh;
}
.text1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: left;
    justify-content: center;
    padding: 10%;
    color: #c4c4c4;
}
.naslov1{
    margin-bottom: 10px;
    color: #afc67b;
}
.next2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    padding: 10%;
    background: #45493b;
    color: #e8e8e8;
}
.text2{
    padding: 20px;
    margin: 20px;
}
h3{
    margin: 0px 0px 25px 0px;
}
.gridContainer{
    display: block;
    text-align: center;
    align-items: center;
    width: 100vw;
}
.grid{
    display: grid;
    grid-template-areas: "title title title title"
                         "slika1 text1 slika2 text2"
                         "slika3 text3 slika4 text4"
                         "slika5 text5 slika6 text7";
    grid-template-rows: 160px 250px 250px 250px;
    grid-template-columns: 250px 250px 250px 250px;
    margin: auto; 
                    
}
.gridTitle{
    grid-area: title;
    text-align: center;
    background-color: #afc67b;
}
.gridText{
    background-color: #afc67b;
}
.gridSlika1{
    background-image: url(/img/1.jpg);
    background-size: cover;
}
.gridSlika2{
    background-image: url(/img/2.jpg);
    background-size: cover;
}
.gridSlika3{
    background-image: url(/img/3.jpg);
    background-size: cover;
}
.gridSlika4{
    background-image: url(/img/4.jpg);
    background-size: cover;
}
.gridSlika5{
    background-image: url(/img/5.jpg);
    background-size: cover;
}
.gridSlika6{
    background-image: url(/img/6.jpg);
    background-size: cover;
}

@media only screen and (max-device-width:1200px){
    
}

@media only screen and (max-device-width:992px){

    #navId{
        display:flex;
    }

    .title{
        font-size:50px;
    }
}

@media only screen and (max-device-width:768px){

    #hamburger{
        display:flex;
    }

    #navId{
        display:none;
    }

    #logo{
        max-width:250px;
    }

    .title{
        font-size:40px;
    }
}

@media only screen and (max-device-width:576px){

    #hamburger{
        display:flex;
    }

    #navId{
        display:none;
    }

    #logo{
        max-width:200px;
    }

    .title{
        font-size:30px;
    }
}




