*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.naslovnicaImg{
    background-image: url(/img/naslovnica.jpg);
    width: 100%;
    height: 100vh;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    position: relative;
    left: 60%;
    transform: scale(0.3);
}
.naslovnicaText{
    display: flex;
    flex-direction: column;
    
}
.nowOpening{
    font-size: 40px;
    margin-left: auto;
    padding-right: 100px;
}
.openingDate{
    font-size: 40px;
    margin-left: auto;
    padding-right: 100px;
}
.learnMore{
    font-size: 40px;
    margin-left: auto;
    margin-top: 100px;
    padding-right: 100px;
    background-color: #45493b;
    text-align: center;
}
.nav{
    right: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    z-index: 2;
    color: #9baf6d;
}
.navLabel{
    font-size: 3rem;
    margin-top: 3rem;
    margin-right: 30px;
}
.next1{
    background-color:#212121;
    background-image: url(/img/angle.png);
    background-repeat: no-repeat;
    background-position: right; 
    height: 50vh;
}
.text1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: left;
    justify-content: center;
    padding: 10%;
    color: #c4c4c4;
}
.naslov1{
    margin-bottom: 10px;
    color: #afc67b;
}
.next2{
    display: flex;
    background: #45493b;
    color: #e8e8e8;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
}

.text2{
    margin: 2rem;
    flex-wrap: wrap;
}
.grid{
    
    background-color: #45493B;
}
.grid h4{
    font-size: 50px;
    text-align: center;
    margin: 30px 0;
}
.gridContainer{
    display: flex;
    flex-wrap: wrap;
}

.gridSlot {
    display: flex;
    flex-direction: row;
}
.gridText{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 50%;
}
@media only screen and (max-width: 600px){
    .nav{
        right: 10%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        z-index: 2;
        color: #9baf6d;
    }
    .logo{
        right: 50px;
    }
    .next2{
        flex-wrap:wrap;
    }
}
