*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.carousel-slide img{
 width:100%;
 height: auto;
}

.carousel-container{
    width: 60%;
    margin: auto;
    border: 2px solid black;
    overflow: hidden;
    position: relative;


}
.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
}
#prev-btn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#next-btn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}